body
{
    background-image:url(../images/matrix.gif);
    background-repeat:repeat;
    margin:0px !important;
    padding:0px !important;
}
#header
{
    width:80%;
    height:200px;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
}
#footer
{
    width:80%;
    height:70px;
    margin-left:auto;
    margin-right:auto;
    padding-top:20px;
    background-color:#808080;
    text-align:center;
    opacity:0.5;
}
#pagecontainer
{
    width:80%;
    min-height:500px;
    margin-left:auto;
    margin-right:auto;
    background-color:#ffffff;
    font-family:'Century Gothic';
    font-size:16px;
}
#pagecontent
{
    width:90%;
    padding:5%;
    background-color:#ffffff;
}
#logo
{
    float:left;
    display:inline-block;
    color:#ffffff;
    width:16%;
    padding-top:20px;
    padding-left:4%;
    font-family:'Brush Script MT',cursive;
    font-size:40px;
    font-weight:bold;
}
#nav
{
    display:inline-block;
    width:80%;
}
#nav ul
{
    list-style-type:none;
}
#nav ul li
{
    list-style-type:none;
    display:inline-block;
    background-color:#ff6a00;
    width:16%;
    height:40px;
    margin-left:10px;
    border-radius:8px;
    text-align:center;
    padding-top:10px;
    font-family:'Century Gothic';
    font-weight:bold;
    font-size:16px;
    color:#ffffff;
}
#nav ul li:hover
{
  transform:rotate(360deg);
  transition-duration:1s;
  cursor:pointer;
}
#homeleft
{
    float:left;
    display:inline-block;
    width:45%;
    min-height:500px;
}
#homeright
{
    display:inline-block;
    width:45%;
    min-height:500px;
}
.link
{
    display:block;
    width:100px;
    height:30px;
    text-align:center;
    padding-top:10px;
    background-color:#e13617;
    font-family:Tahoma;
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
    color:#f7f209;
}
.link:hover
{
    text-decoration:none;
    background-color:#ff6a00;
    color:#f7f209;
    transition-duration:500ms;
}
.tbl
{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
.tbl, .tbl th, .tbl td
{
    text-align:center;
    border:1px solid #ff6a00;
    border-collapse:collapse;
}
.tbl td
{
    height:50px;
    vertical-align:middle;
}
.tbl td a
{
    margin-left:auto;
    margin-right:auto;
}
.tw
{
    width:30%;
    height:200px;
    overflow:scroll;
}
h2
{
    text-align:center;
}