body
{
    margin:0;
    padding:0;
}
header
{
    background:linear-gradient(#12c2d4,#ffffff);
}
#pagecontent
{
    min-height:800px;
}
.hometext
{
    font-size:36px;
    font-weight:bold;
}
footer
{
    min-height:60px;
    padding-top:20px;
}
.nav-item a:hover
{
    margin-bottom:-2px;
    border-bottom:2px solid #ff6a00;
}