body
{
    margin:0;
    padding:0;
}
html
{
    scroll-behavior:smooth;
}
header
{
    background-color:#12c2d4;
    height:140px;
}
.pagecontent 
{
    min-height: 800px;
    background: linear-gradient(#f18239 ,#bae5e8);
    padding-top: 40px;
}
.hometext
{
    font-size:36px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer
{
    min-height:60px;
    padding-top:20px;
}
.nav-item a:hover
{
    margin-bottom:-2px;
    border-bottom:2px solid #ff6a00;
}
.contacttext
{
    font-size:30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.link
{
    background:linear-gradient(#b621e9,#3acbbe);
    border-radius:10px;
    border:none;
}
.link:hover 
{
    background: linear-gradient(#3acbbe,#b621e9);
    border:none;
    color:#ffffff;
}
